---
- name: Ensure that LIBVIRT packages are installed
  become: true
  ansible.builtin.apt:
    name:
      - bridge-utils
      - libvirt-daemon
      - python3-libvirt
      - python3-lxml
      - qemu-kvm
      - libvirt-daemon-system
