---
- name: Load variables by operating system
  ansible.builtin.include_vars: "{{ ansible_facts.os_family | lower }}.yml"

- name: Install packages by operating system
  ansible.builtin.include_tasks: "install_{{ ansible_facts.os_family | lower }}.yml"

- name: Configure FIREWALLD if enable_base_firewalld is defined
  when: enable_base_firewalld | bool
  ansible.builtin.include_tasks: firewalld.yml

- name: Ensure virtual mail group exists
  become: true
  ansible.builtin.group:
    name: "{{ dovecot_virtual_gid }}"
    state: present
    system: true
- name: Ensure virual mail user exists
  become: true
  ansible.builtin.user:
    name: "{{ dovecot_virtual_uid }}"
    comment: "Comptes virtuels"
    group: "{{ dovecot_virtual_gid }}"
    home: "{{ dovecot_virtual_mailbox_base }}"
    shell: /sbin/nologin
    system: true
- name: Permissions
  become: true
  ansible.builtin.file:
    path: "{{ dovecot_virtual_mailbox_base }}"
    state: directory
    owner: "{{ dovecot_virtual_uid }}"
    group: "{{ dovecot_virtual_gid }}"
    mode: "0755"

- name: Configure LDAP virtual account if enable_service_dovecot_ldap is defined
  ansible.builtin.include_tasks: config_ldap.yml
  when: enable_service_dovecot_ldap | bool

- name: Configure DOVECOT
  become: true
  ansible.builtin.template:
    src: templates/{{ item }}.j2
    dest: "{{ item }}"
    owner: root
    group: root
    mode: "0644"
  with_items:
    - /etc/dovecot/dovecot.conf
    - /etc/dovecot/trash.conf
  notify:
    - Restart dovecot

- name: Configure RSYSLOG if enable_service_dovecot_syslog id defined
  become: true
  ansible.builtin.template:
    src: templates/{{ item }}.j2
    dest: "{{ item }}"
    owner: root
    group: root
    mode: "0644"
  with_items:
    - /etc/rsyslog.d/dovecot.conf
    - /etc/logrotate.d/dovecot
  notify:
    - Restart rsyslog
  when: enable_service_dovecot_syslog | bool
