---
ansible_action: converge
enable_pki_server: false
pki_ca_group: root
pki_ca_host: "{{ inventory_hostname_short }}"
pki_ca_name: "ansible"
pki_ca_file: "ca-{{ pki_ca_name }}.pem"
pki_ca_owner: root
pki_ca_path: "~/pki/{{ pki_ca_name }}/"
pki_ca_secret_passphrase: "ansible"
pki_server_group: root
pki_server_host: "{{ inventory_hostname_short }}"
pki_server_mode: "0640"
pki_server_owner: root
pki_server_private: "{{ pki_path }}private/"
pki_server_san:
  - "DNS:{{ inventory_hostname }}"
