---
- name: Load variables by operating system
  ansible.builtin.include_vars: "{{ ansible_facts.os_family | lower }}.yml"

- name: Install packages by operating system
  ansible.builtin.include_tasks: "install_{{ ansible_facts.os_family | lower }}.yml"

- name: Configure FIREWALLD if enable_base_firewalld is defined
  when: enable_base_firewalld | bool
  ansible.builtin.include_tasks: firewalld.yml

- name: Configure Squid
  become: true
  ansible.builtin.template:
    src: etc/squid/squid.conf.j2
    dest: /etc/squid/squid.conf
    mode: "0644"
  notify:
    - Restart squid
- name: Configure perms
  become: true
  ansible.builtin.file:
    path: /var/spool/squid
    owner: "{{ squid_group }}"
    group: "{{ squid_group }}"
