hosts           = {{ dovecot_ldap_host }}
dn              = {{ dovecot_ldap_bind_dn }}
dnpass          = {{ dovecot_ldap_bind_pw }}
tls             = no
ldap_version    = 3
base            = {{ dovecot_ldap_base }}
deref           = never
scope           = onelevel
user_attrs      = \
        uid=user,\
        userPassword=password,\
        mailQuotaSize=quota_storage_size=%$K,\
        =home={{ dovecot_virtual_mailbox_base }}/%{user | lower},\
        =gid={{ dovecot_virtual_gid }},\
        =uid={{ dovecot_virtual_uid }},\
        =mail=maildir:{{ dovecot_virtual_mailbox_base }}/%{user | lower}/Maildir
user_filter     = uid=%{user | lower}
pass_attrs      = uid=user,userPassword=password
pass_filter     = uid=%{user | lower}
iterate_attrs   = uid=user
iterate_filter  = objectclass=*
