---
- name: Install packages by operating system
  ansible.builtin.include_tasks: "install_{{ ansible_facts.os_family | lower }}.yml"

- name: Configure agent
  ansible.builtin.include_tasks: "agent.yml"

- name: Plug agent to server
  ansible.builtin.include_tasks: "plug.yml"
