---
- name: Configure Hashicorp repository
  become: true
  ansible.builtin.yum_repository:
    name: hashicorp
    description: "Hashicorp Stable - $basearch"
    file: hashicorp
    baseurl: "https://rpm.releases.hashicorp.com/RHEL/$releasever/$basearch/stable"
    gpgkey: https://rpm.releases.hashicorp.com/gpg
    gpgcheck: true
    enabled: true
    priority: "1"
    setype: system_conf_t
