{% for client in freeradius_client %}
client {{ client.name }} {
        ipaddr = {{ client.ipaddr }}
        secret = {{ freeradius_secret }}
        shortname = {{ client.name }}
        require_message_authenticator = {{ client.authenticator }}

}
{% endfor %}
