---
- name: Deploy docker-compose service
  become: true
  ansible.builtin.template:
    src: docker-compose@.service.j2
    dest: /etc/systemd/system/docker-compose@.service
    owner: root
    group: root
    mode: "0644"
  notify:
    - Reload systemd
