[Service]
Environment="HTTPS_PROXY=http://{{ http_proxy_server }}:{{ http_proxy_port }}" "HTTP_PROXY=http://{{ http_proxy_server }}:{{ http_proxy_port }}" "NO_PROXY=localhost,127.0.0.1,192.168.0.0/16"