---
- name: Install packages by operating system
  ansible.builtin.include_tasks: "install_{{ ansible_facts.distribution | lower }}.yml"

- name: "Include Python"
  ansible.builtin.include_role:
    name: "develop_python"
