---
- name: Configure EPEL repository
  ansible.builtin.include_role:
    name: ysebastia.base.repos_epel
  vars:
    enable_repositories_epel: true
    epel_https_proxy: "{{ ansible_facts.env.HTTP_PROXY }}"
- name: Ensure PYTHON3-DOCKER is installed
  become: true
  ansible.builtin.dnf:
    name:
      - python3-docker
    update_cache: true
