---
- name: Restart backuppc
  become: true
  ansible.builtin.service:
    name: backuppc
    state: restarted
    enabled: true
- name: Restart httpd
  become: true
  ansible.builtin.service:
    name: "{{ backuppc_service_httpd }}"
    state: restarted
    enabled: true
