---
dependency:
  name: galaxy
driver:
  name: vagrant
  provider:
    name: libvirt
    type: libvirt
platforms:
  - name: alma9
    box: alma9
    box_version: 9.1-20230419.0
    memory: 1024
  - name: ubuntu2210
    box: generic/ubuntu2210
    box_version: 4.2.14
    memory: 2048
provisioner:
  name: ansible
verifier:
  name: ansible
