---
- name: Ensure GPG is installed
  become: true
  ansible.builtin.apt:
    name:
      - gpg
- name: Set DPKG architecture
  ansible.builtin.set_fact:
    docker_ce_dpkg_arch: "{{ 'amd64' if ansible_architecture == 'x86_64' else ansible_architecture }}"
- name: Fix Docker-CE repository
  become: true
  ansible.builtin.apt_repository:
    repo: deb https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable
    filename: docker-ce
    state: absent
- name: Add GPG
  become: true
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
    keyring: /etc/apt/trusted.gpg.d/docker-ce.gpg
  environment:
    https_proxy: "{{ docker_ce_https_proxy | default('') }}"
- name: Configure Docker-CE repository
  become: true
  ansible.builtin.apt_repository:
    repo: deb [arch={{ docker_ce_dpkg_arch }} signed-by=/etc/apt/trusted.gpg.d/docker-ce.gpg] https://download.docker.com/linux/{{ ansible_distribution | lower
      }} {{ ansible_distribution_release }} stable
    filename: docker-ce
    state: present
  environment:
    https_proxy: "{{ docker_ce_https_proxy | default('') }}"
