---
- name: Reload systemd
  become: true
  ansible.builtin.systemd:
    daemon_reload: true
- name: Restart docker
  become: true
  ansible.builtin.service:
    name: docker
    state: restarted
    enabled: true
  when: enable_docker_service | bool
