server_host = {{ postfix_ldap_host }}
timeout = 20
version = 3
bind = yes
bind_dn = {{ postfix_ldap_bind_dn }}
bind_pw = {{ postfix_ldap_bind_pw }}
search_base = {{ postfix_ldap_base }}
scope = one
query_filter = (&(mail=%s)(objectclass=inetorgperson)(uid=*))
result_attribute = uid
result_format = %s/Maildir/
